/* Main Styles for Creative Studio Companion */
:root {
  /* --spectrum-neutral-content-color-default: var(--uxp-host-text-color);
  --spectrum-neutral-content-color-hover: var(--uxp-host-text-color);
  --spectrum-fieldlabel-color: var(--uxp-host-text-color); */
}

body, html, sp-theme {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: var(--uxp-host-background-color);
  color: var(--uxp-host-text-color);
  border-color: var(--uxp-host-border-color);
  font-size: var(--uxp-host-font-size);

}
/*
sp-button {  
  --spectrum-button-background-color-default: var( --uxp-host-background-color );
  --spectrum-button-background-color-hover: var( --uxp-host-widget-hover-background-color );
  --spectrum-button-border-color-default: var( --uxp-host-border-color );
  --spectrum-button-border-color-hover: var( ---uxp-host-widget-hover-border-color );
  --spectrum-button-border-color-down: var( --system-spectrum-button-secondary-outline-border-color-down );
  --spectrum-button-border-color-focus: var( --system-spectrum-button-secondary-outline-border-color-focus );
  --spectrum-button-content-color-default: var( --uxp-host-text-color);
  --spectrum-button-content-color-hover: var( --uxp-host-widget-hover-text-color );
  font-weight: var(--spectrum-regular-font-weight);
}

sp-field-label {
  color: var(--uxp-host-text-color);
}
*/
sp-sidenav {
  --spectrum-sidenav-content-color-default:var(--uxp-host-text-color);
  --spectrum-sidenav-content-color-hover:var(--uxp-host-link-hover-text-color);
  --spectrum-sidenav-content-color-default-selected: var(--uxp-host-text-color);
  --spectrum-sidenav-content-color-hover-selected: var( --uxp-host-link-hover-text-color );
  --spectrum-sidenav-background-hover: var(--uxp-host-widget-hover-background-color);
  --spectrum-sidenav-item-background-down: var(--uxp-host-border-color);
  --spectrum-sidenav-item-background-default-selected: var(--spectrum-informative-background-color-default);
  --spectrum-sidenav-background-hover-selected: var(--uxp-host-link-text-color);
  --spectrum-sidenav-item-background-down-selected: var(--uxp-host-border-color);
  --spectrum-sidenav-background-key-focus-selected: var(--uxp-host-border-color);
  --spectrum-sidenav-header-color: var(--uxp-host-text-color);
}

/*
sp-switch {
  --spectrum-switch-label-color-default: var( --uxp-host-text-color );
  --spectrum-switch-label-color-hover: var( --uxp-host-widget-hover-text-color );
  --spectrum-switch-background-color: var(--uxp-host-border-color);
  --spectrum-switch-background-color-selected-default: var( --uxp-host-text-color );
  --spectrum-switch-handle-border-color-disabled: var( --spectrum-disabled-content-color );
}

sp-field-label {

}
*/
sp-dialog {
  padding: 0rem;
  color: var(--uxp-host-text-color);
  --spectrum-fieldlabel-color: var(--uxp-host-text-color);
}

sp-switch {
margin: 0.25rem 0;
}

sp-button-group {
  display: flex;
  justify-content: stretch;
}

.plugin-container {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    height: 100%;
}

.plugin-action-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
}

.plugin-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 1rem;
    border-bottom: 1px solid var(--uxp-host-border-color);
    flex: 0 1 auto;
}

.plugin-title {
  padding: 0;
  margin: 0;
}

.plugin-main {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex: 1;
}

.plugin-nav {
  padding: 1rem;
}

.plugin-nav {
    width: 200px;
    height: 100%;
    border-right: 1px solid var(--uxp-host-border-color);
}

.plugin-sidenav {
    width: auto;
}

.plugin-menu {
  display: none;
  flex-direction: row;
  justify-content: stretch;
  align-items: flex-start;
  flex: 1;  
}

.plugin-menu-section {
    padding: 1rem 2rem;
    border-right: 1px solid var(--uxp-host-border-color);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1 1 auto;
}

.plugin-menu-section:first-child {
  padding-left: 2rem;
}

.plugin-menu-section:last-child {
    padding-right: 2rem;
    border-right: none;
}

.plugin-content[data-active-menu="build"] #build-menu,
.plugin-content[data-active-menu="editor"] #editor-menu,
.plugin-content[data-active-menu="production"] #production-menu {
  display: flex;
}


.plugin-control-cluster {
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem;
  margin-bottom: 1rem;
}

.plugin-control-cluster--row {
  flex-direction: row;
}

.plugin-label {
  font-weight: 500;
  font-size: var(--uxp-host-font-size-larger);
  margin-bottom: 0.5rem;
}

.plugin-filter-cluster {
  padding: 0.5rem 0rem;
}

.plugin-tag {
  margin: 0.125rem;
}

.plugin-tag--device {
  --spectrum-tag-border-color: var(--spectrum-blue-background-color-default);
  --spectrum-tag-content-color: var(--uxp-host-text-color);
  --spectrum-tag-background-color: var(--spectrum-blue-background-color-default);
  --spectrum-tag-border-color-hover: var(--spectrum-blue-background-color-default);
  --spectrum-tag-background-color-hover: var( --spectrum-blue-background-color-default );
  --spectrum-tag-content-color-hover: var( --uxp-host-text-color );
  --spectrum-tag-border-color-active: var(--spectrum-blue-background-color-default);
  --spectrum-tag-background-color-active: var( --spectrum-blue-background-color-default );
  --spectrum-tag-content-color-active: var( --uxp-host-text-color );
}

.plugin-tag--state {
  --spectrum-tag-border-color: var(--spectrum-celery-background-color-default);
  --spectrum-tag-content-color: var(--uxp-host-text-color);
  --spectrum-tag-background-color: var(--spectrum-celery-background-color-default);
  --spectrum-tag-border-color-hover: var(--spectrum-celery-background-color-default);
  --spectrum-tag-background-color-hover: var( --spectrum-celery-background-color-default );
  --spectrum-tag-content-color-hover: var( --uxp-host-text-color );
  --spectrum-tag-border-color-active: var(--spectrum-celery-background-color-default);
  --spectrum-tag-background-color-active: var( --spectrum-celery-background-color-default );
  --spectrum-tag-content-color-active: var( --uxp-host-text-color );
}

.plugin-option-note{
  font-size: var(--uxp-host-font-size-smaller);
  flex: 0 1 auto;
}

.plugin-flex {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.plugin-flex--flex-row {
  flex-direction: row;
}

.plugin-flex--flex-column {
  flex-direction: column;
}

.plugin-flex--no-grow {
  flex-grow: 0;
}

.plugin-menu--build {
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    align-content: stretch;
    padding: 1rem;
}

.plugin-step-section {
    flex: 0 1 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 1rem 4rem;
}

.plugin-step-section--fixed {
  /* max-width: 900px; */
  text-align: center;
}

.plugin-progress-component {
  flex: 1 1 auto;
}

.plugin-progress-bar {
  height: 0.5rem;
  background-color: var( --uxp-host-border-color );
  
  color: var(--plugin-text);
  border-radius: 0.25rem; 
  overflow: hidden;
}

.plugin-progress-bar-fill {
  height: 100%;
  background-color: var(--spectrum-informative-background-color-default);
  width: 5%;
}

.plugin-step-note {
  font-size: var(--spectrum-theme-font-size-smaller);
  font-weight: 400;
  margin-bottom: 0.5rem;
  color: var(--plugin-text);
}

.plugin-step-number {
    font-weight: 700;
}

.plugin-step-text {
  display: inline-block;
  max-width: 900px;
  text-align: center;
}
.plugin-step-button {
  flex: 0 1 auto;
}

.plugin-step-sub-ui {
  flex: 0 1 auto;
  display: none;
  pointer-events: none;
}

.-show {
  display: flex;
  pointer-events: auto;
}

.plugin-sub-step-button {
  flex: 0 1 auto;
}

.plugin-step-button:first-child {
  margin-right: 2rem;
}
.plugin-step-button:last-child {
  margin-left: 2rem;
}

.plugin-dialog {
  padding: 0rem;
  height: 200px;
  width: 350px;
  color: var(--uxp-host-text-color);
}

.plugin-dialog-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: stretch;
    align-items: stretch;
}

.plugin-dialog-label {
}

.plugin-dialog-input-container {
  margin-bottom: 2rem;
}

.plugin-dialog-input {
    width: 100%;
}

.plugin-dialog-button-container {
  display: flex;
  justify-content: flex-end;
}

.plugin-dialog-button {
  flex: 0 1 auto;
}

.plugin-dialog-button-primary {
  flex: 1  1 auto;
}